@font-face {
    font-family: 'Lato';
    src: url('./assets/Lato-Black.ttf') format('trueType');
    font-style: normal;
} 

@font-face {
    font-family: 'Lato-reguler';
    src: url('./assets/Lato-Regular.ttf') format('trueType');
    font-style: normal;
} 

@font-face {
    font-family: 'Lato-bold';             
    src: url('./assets/Lato-Bold.ttf') format('truetype');
    font-style: normal;
}

@bold-lato: 'Lato-bold';
@regular-lato:'Lato-reguler';
@font-family-base: 'Lato', sans-serif;
@text-color: rgb(66, 66, 66);
@athena-red: rgb(236, 94, 94);
@pale-gray: rgb(155, 155, 155);
@paler-gray: rgb(197, 197, 197);
@backround: rgb(248, 246, 246);
@button-radius: 13px;

