@import '../../../variables.less';

.button{
    background-color: @athena-red;
    font-family: @regular-lato;
    color: white;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    border: none;
}

.title{
    font-family: @font-family-base;
    color:@text-color
}

.content{
    font-family: @font-family-base;
    color:@text-color;
    white-space: pre-wrap;
}